<!-- templates/books/book_list.html -->
{% extends "_base.html" %}

{% block title %}Books{% endblock title %}

{% block content %}

  <div class="container">
    <form method="GET" class="mb-4">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <input type="text" name="title" class="form-control" placeholder="Title" value="{{ form.title.value }}">
        </div>
        <div class="col">
          <input type="text" name="author" class="form-control" placeholder="Author" value="{{ form.author.value }}">
        </div>
        <div class="col">
          <input type="number" name="min_price" class="form-control" placeholder="Min price" value="{{ form.min_price.value }}">
        </div>
        <div class="col">
          <input type="number" name="max_price" class="form-control" placeholder="Max price" value="{{ form.max_price.value }}">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </form>
    <div class="row">
      {% for book in book_list %}
        <div class="col-md-4 mb-4">
          <div class="card">
            {% if book.cover %}
              <img src="{{ book.cover.url }}" class="card-img-top img-fluid" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title mb-0"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
              <div class="mb-3">
                <small class="text-muted">{{ book.author }}</small>
              </div>
              <p class="card-text mb-3">{{ book.description }}</p>
              <h6 class="card-subtitle mb-2 text-muted">{{ book.price }}</h6>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}