<!-- templates/books/book_detail.html -->
{% extends "_base.html" %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}

  <div class="book-detail">
    <div class="row">
      <div class="col-md-4">
        {% if book.cover %}
          <img class="bookcover img-fluid" src="{{ book.cover.url }}" alt="{{ book.title }}">
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2>{{ book.title }}</h2>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Price:</strong> {{ book.price }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <a href="#" class="btn btn-primary mb-4">Buy Now</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Reviews</h3>
        <ul>
          {% for review in book.reviews.all %}
            <li>{{ review.review }} ({{ review.author }})</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}