<!-- templates/about.html -->
{% extends "_base.html" %}

{% block title %}About Us{% endblock title %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu enim vel orci finibus auctor. Sed scelerisque, dolor eu vestibulum luctus, nulla nibh tincidunt sapien, at congue dolor augue ut quam. Donec et blandit nisl, eget mollis mauris. Sed ultricies, enim sed fermentum faucibus, ipsum ex gravida mauris, eu bibendum felis nisl non lectus. Nulla hendrerit libero in augue pretium tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Sed a arcu magna. Nullam dignissim eros eu est efficitur, non lobortis velit ultrices. Praesent euismod arcu sed turpis malesuada ultrices. Suspendisse eget vestibulum nulla. Integer finibus eros in luctus varius. Aliquam at urna eleifend, cursus elit sed, dignissim sapien. Pellentesque ultricies nibh vel lectus gravida congue. Nam euismod nulla nunc, nec facilisis quam semper sit amet. Aenean eget arcu sed nisi malesuada suscipit. In euismod augue eu sagittis pharetra. Curabitur lacinia tortor ac eros elementum, quis aliquet massa venenatis. Sed et facilisis nisl, vel consequat enim.</p>
      </div>
      <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>123 Main Street</p>
        <p>New York, NY 10001</p>
        <p>Phone: (555) 555-1234</p>
        <p>Email: info@mybookstore.com</p>
      </div>
    </div>
  </div>
{% endblock content %}